.headerImg {
    display: block;
    width:rem(750,$text-bp-sm);

    @include bp-medium {
        width:rem(1600,$text-bp-md);
    }

    @include bp-large {
        width:rem(1600,$text-bp-lg);
    }
}

.pageBody {
    text-align: center;
    font-size: rem(21,$text-bp-sm);
    line-height: rem(30,$text-bp-sm);
    padding: rem(30,$text-bp-sm);

     @include bp-medium {
        font-size: rem(21,$text-bp-md);
        line-height: rem(30,$text-bp-md);
        padding: rem(30,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(21,$text-bp-lg);
        line-height: rem(30,$text-bp-lg);
        padding: rem(30,$text-bp-lg);
    } 
}



.pageSecTitle {
    clear:left;
    font-family: 'Ultra', serif;
    color: #fff;
    background-color: #000;
    text-align: center;

    font-size: rem(60,$text-bp-sm);
    padding: rem(20,$text-bp-sm);

     @include bp-medium {
        font-size: rem(48,$text-bp-md);
        padding: rem(20,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(48,$text-bp-lg);
        padding: rem(10,$text-bp-lg);
        letter-spacing: rem(2,$text-bp-lg);
    }
}

.pageRow {
    text-align: center;
    background-color: #000;
}
.galleryImg {
    display: inline-block;
    vertical-align: top;    
    cursor: pointer;
}

.pageThumbInfo {
    display: inline-block;
    vertical-align: top;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
    }
}

.pageThumbVert {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
    }
}

.pageThumbHorz, {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    width:rem(750,$text-bp-sm);

    @include bp-medium {
        text-align: left;
        width:rem(317.5,$text-bp-md);
    }

    @include bp-large {
        text-align: left;
        width:rem(800,$text-bp-lg);
    }
}

.pageThumbRect {
    display: inline-block;
    overflow: hidden;
    width:rem(750,$text-bp-sm);
    height:rem(375,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
        height:rem(158.75,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
        height:rem(200,$text-bp-lg);
    }
}

.pageThumbSq {
    display: inline-block;
    overflow: hidden;
    width:rem(750,$text-bp-sm);
    height:rem(375,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
        height:rem(317.5,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
        height:rem(400,$text-bp-lg);
    }
}

.pageThumbTall {
    display: inline-block;
    overflow: hidden;
    width:rem(750,$text-bp-sm);
    height:rem(1125,$text-bp-sm);

    @include bp-medium {
        width:rem(317.5,$text-bp-md);
        height:rem(476.25,$text-bp-md);
    }

    @include bp-large {
        width:rem(400,$text-bp-lg);
        height:rem(600,$text-bp-lg);
    }
}

.pageThumbTitle {
    font-family: 'Ultra', serif;
    color: #fff;
    background-color: #000;

    font-size: rem(30,$text-bp-sm);
    line-height: rem(48,$text-bp-sm);
    padding: rem(20,$text-bp-sm);

     @include bp-medium {
        font-size: rem(21,$text-bp-md);
        line-height: rem(24,$text-bp-md);
        padding: rem(20,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(21,$text-bp-lg);
        line-height: rem(24,$text-bp-lg);
        padding: rem(10,$text-bp-lg) rem(20,$text-bp-lg);
    } 
}
.pageThumbDate {
    color: #fff;
    font-family: 'Domine', serif;
    font-size: rem(30,$text-bp-sm);
    line-height: rem(48,$text-bp-sm);
    padding-top: rem(10,$text-bp-sm);

     @include bp-medium {
        font-size: rem(21,$text-bp-md);
        line-height: rem(24,$text-bp-md);
        padding-top: rem(10,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(16,$text-bp-lg);
        line-height: rem(28,$text-bp-lg);
        padding-top: rem(10,$text-bp-lg);
    }    
}
.pageThumbBody, .postBody {
    color: #fff;
    background-color: #000;

    font-size: rem(30,$text-bp-sm);
    line-height: rem(48,$text-bp-sm);
    padding: rem(20,$text-bp-sm);

     @include bp-medium {
        font-size: rem(16,$text-bp-md);
        line-height: rem(28,$text-bp-md);
        padding: rem(20,$text-bp-md);
      }

    @include bp-large {
        font-size: rem(16,$text-bp-lg);
        line-height: rem(28,$text-bp-lg);
        padding: rem(20,$text-bp-lg);
    }
}
#postOverlay {
    background-color: #000;
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1009;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;  
}

.postContent {
    background-color: #333;
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1010;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.postClose {
    cursor: pointer;
    color: #fff;
    font-family: 'Khula', sans-serif;
    font-weight: 800;
    top: rem(30,$text-bp-sm);
    right: rem(30,$text-bp-sm);
    font-size: rem(80,$text-bp-sm);
    position: absolute;

    @include bp-medium {
        top: rem(30,$text-bp-md);
        right: rem(30,$text-bp-md);
        font-size: rem(50,$text-bp-md);
    }

    @include bp-large {
        
        top: rem(30,$text-bp-lg);
        right: rem(30,$text-bp-lg);
        font-size: rem(50,$text-bp-lg);
    }
}
